{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.home %}
        <a href="{{ author.home | relative_url }}">
          <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author.home | relative_url }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <div class="author__bio" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
   <!-- <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>-->
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
          <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

      {% if author.links %}
        {% for link in author.links %}
          {% if link.label and link.url %}
            <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i><span class="label">{{ link.label }}</span></a></li>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if author.uri %}
        <li>
          <a href="{{ author.uri }}" itemprop="url">
            <i class="fas fa-fw fa-link" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].website_label | default: "Website" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}" />
            <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% if author.keybase %}
        <li>
          <a href="https://keybase.io/{{ author.keybase }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fas fa-fw fa-key" aria-hidden="true"></i><span class="label">Keybase</span>
          </a>
        </li>
      {% endif %}

      {% if author.twitter %}
        <li>
          <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i><span class="label">Twitter</span>
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i><span class="label">Facebook</span>
          </a>
        </li>
      {% endif %}

      {% if author.googlescholar %}
        <li>
          <a href="{{ author.googlescholar }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
<svg class="svg-inline--fa fa-graduation-cap fa-w-20 fa-fw" aria-hidden="true" data-prefix="fas" data-icon="graduation-cap" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M622.884 199.005l-275.817 85.1a96 96 0 0 1-54.134 0L92.398 222.232c-8.564 11.438-11.018 23.05-11.918 38.335C89.778 266.165 96 276.355 96 288c0 11.952-6.557 22.366-16.265 27.861l16.197 123.096c.63 4.786-3.1 9.043-7.932 9.043H40c-4.828 0-8.562-4.253-7.932-9.044L48.265 315.86C38.557 310.366 32 299.952 32 288c0-12.034 6.646-22.511 16.465-27.976.947-17.951 3.974-33.231 12.152-47.597l-43.502-13.422c-22.876-6.801-22.766-39.241 0-46.01l275.817-85.1a96 96 0 0 1 54.134 0l275.817 85.1c22.877 6.801 22.767 39.241.001 46.01zM356.503 314.682l-.207.064-.207.061a127.998 127.998 0 0 1-72.177 0l-.207-.061-.207-.064-150.914-46.57L120 352c0 35.346 89.543 64 200 64s200-28.654 200-64l-12.583-83.888-150.914 46.57z"></path></svg>
<!-- <i class="fab fa-fw fa-google-scholar" aria-hidden="true"></i>-->
<span class="label">Google Scholar</span>
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label">LinkedIn</span>
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-xing-square" aria-hidden="true"></i><span class="label">XING</span>
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-instagram" aria-hidden="true"></i><span class="label">Instagram</span>
          </a>
        </li>
      {% endif %}

      {% if author.tumblr %}
        <li>
          <a href="https://{{ author.tumblr }}.tumblr.com" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i><span class="label">Tumblr</span>
          </a>
        </li>
      {% endif %}

      {% if author.bitbucket %}
        <li>
          <a href="https://bitbucket.org/{{ author.bitbucket }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i><span class="label">Bitbucket</span>
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
          </a>
        </li>
      {% endif %}

      {% if author.gitlab %}
        <li>
          <a href="https://gitlab.com/{{ author.gitlab }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i><span class="label">GitLab</span>
          </a>
        </li>
      {% endif %}

      {% if author.stackoverflow %}
        <li>
          <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i><span class="label">Stack Overflow</span>
          </a>
        </li>
      {% endif %}

      {% if author.lastfm %}
        <li>
          <a href="https://last.fm/user/{{ author.lastfm }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i><span class="label">Last.fm</span>
          </a>
        </li>
      {% endif %}

      {% if author.dribbble %}
        <li>
          <a href="https://dribbble.com/{{ author.dribbble }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-dribbble" aria-hidden="true"></i><span class="label">Dribbble</span>
          </a>
        </li>
      {% endif %}

      {% if author.pinterest %}
        <li>
          <a href="https://www.pinterest.com/{{ author.pinterest }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-pinterest" aria-hidden="true"></i><span class="label">Pinterest</span>
          </a>
        </li>
      {% endif %}

      {% if author.foursquare %}
        <li>
          <a href="https://foursquare.com/{{ author.foursquare }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-foursquare" aria-hidden="true"></i><span class="label">Foursquare</span>
          </a>
        </li>
      {% endif %}

      {% if author.steam %}
        <li>
          <a href="https://steamcommunity.com/id/{{ author.steam }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-steam" aria-hidden="true"></i><span class="label">Steam</span>
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% elsif author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
              <i class="fab fa-fw fa-youtube" aria-hidden="true"></i><span class="label">YouTube</span>
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% if author.soundcloud %}
        <li>
          <a href="https://soundcloud.com/{{ author.soundcloud }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud</span>
          </a>
        </li>
      {% endif %}

      {% if author.weibo %}
        <li>
          <a href="https://www.weibo.com/{{ author.weibo }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span class="label">Weibo</span>
          </a>
        </li>
      {% endif %}

      {% if author.flickr %}
        <li>
          <a href="https://www.flickr.com/{{ author.flickr }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-flickr" aria-hidden="true"></i><span class="label">Flickr</span>
          </a>
        </li>
      {% endif %}

      {% if author.codepen %}
        <li>
          <a href="https://codepen.io/{{ author.codepen }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-codepen" aria-hidden="true"></i><span class="label">CodePen</span>
          </a>
        </li>
      {% endif %}

      {% if author.vine %}
        <li>
          <a href="https://vine.co/u/{{ author.vine }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
            <i class="fab fa-fw fa-vine" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
          </a>
        </li>
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
